.render {
    font-family: monospace;
    margin: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
    -webkit-user-select: none;
    user-select: none;
}
  
canvas {
    height: 100%;
    width: 100%;
}